@import url('https://fonts.googleapis.com/css?family=Lato|Supermercado+One');

/* Use the 'Lato' font family at 18px throughout the body of the document, and cover the background with the './img/map-bg.jpg' image. */
nav {
    font-family: lato; /* this was changed dont think it needed to be changed */ 
    font-size: 18px;}   /* i believe this was also changed but didnt need to */

Body {  /* this body and everything inside of it was added */
    background-image: url(./img/map-bg.jpg);
    font-family: lato;
    font-size: 18px;}
    
#main {
    width: 900px; 
    margin: 10px auto;}
/* Use the 'Supermercado One' font at 45px (colored #5d4037) for the restaurant name. */
h1 {
    font-family: Supermercado One;  /* this was changed */
    font-size: 45px;        /*this was changed to 45px? */
    color: #5d4037;}    /*this was added */

/* Set the separator between the columns (the "column-rule") to be 2px dashed rosybrown. */
#menu {
    columns: 400px 2; 
    column-gap: 100px;
    column-rule: 2px dashed rosybrown;}   /*this is what was added */
section {
    margin-bottom: 50px;}

/* Show each of the section headings of the menu (e.g. "Starters") in small caps, colored #6d4c41. */
h2 {
    margin: 0;
    font-variant: small-caps; /* this was added */
    color: #6d4c41;}        /* this was added */

/* Make the name of each menu item appear in bold in a 20px size. */
dt { /* this whole dt and everything inside was added */
    font-variant: bold;
    font-size: 20px;}


dd {margin: 0 0 12px 0; display: flex;}

.details {order: 1;}

/* Show the price of each item in a large font, in the color named 'firebrick' */
.price {
    order: 2; 
    padding-left: 10px;
    font-family: large;     /*this was added and the color has to its own line */
    color: firebrick;}     /*this was added */

/* Draw a 2px dashed rosybrown border around the address/footer */
address {
        padding: 10px;
        border: 2px dashed rosybrown;}  /* this was added color goe in here bc we designated a px size(I think) */